<?xml version="1.0"?>
<robot name="left_track" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="left_track_mesh" value="package://atlas_description/meshes/visual_model/left_track.dae"/>
  <xacro:property name="left_track_collision_mesh" value="package://atlas_description/meshes/collision_model/left_track_collision.dae"/>
  
  <xacro:macro name="left_track_inertial" params="mass">
    <inertial>
      <mass value="${mass}" />
      <inertia ixx="0.0002684" ixy="0.0000000" ixz="0.0000376" iyy="0.0002819" iyz="0.0000002" izz="0.0001236" />
    </inertial>
  </xacro:macro>
  
  <xacro:macro name="atlas_left_track" params="prefix parent mass link_xyz link_rpy joint_xyz joint_rpy">
    <link name="${prefix}_link">
      <visual>
        <geometry>
          <mesh filename="${left_track_mesh}"/>
        </geometry>
        <origin xyz="${link_xyz}" rpy="${link_rpy}"/>
      </visual>
      
      <collision>
        <geometry>
          <mesh filename="${left_track_collision_mesh}"/>
        </geometry>
        <origin xyz="${link_xyz}" rpy="${link_rpy}"/>
      </collision>
      <xacro:left_track_inertial mass="${mass}"/>
    </link>
    
    <joint name="${prefix}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}_link"/>
      <origin xyz="${joint_xyz}" rpy="${joint_rpy}"/>
    </joint>
    
    <gazebo reference="${prefix}_link">
      <mu1>0.0</mu1>
      <mu2>0.0</mu2>
      <turnGravityOff>false</turnGravityOff>
    </gazebo>
  </xacro:macro>
    
</robot>